@font-face {
  font-family: 'Bubble Letters';
  font-style: normal;
  font-weight: 400;
  src: url('Bubble-Letters.woff') format('woff');
}

.hidden {
  display: none !important;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
