<%= turbo_frame_tag job_source do %>
  <div class="job_source">
    <%= link_to job_source.name,
                job_source_path(job_source),
                data: { turbo_frame: "_top" } %>
    <div class="job_source__actions">
      <%= confirmation_link_to "Delete",
                               job_source_path(job_source),
                               class: "btn btn--light",
                               data: { turbo_method: :delete } %>
      <%= link_to "Edit",
                  edit_job_source_path(job_source),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
