<%= link_to sanitize("&larr; Back to job sources"), job_sources_path %>

<div class="header">
  <h2>New Job Source</h2>
</div>

<%= turbo_frame_tag @job_source do %>
  <%= render "form", job_source: @job_source %>
<% end %>
