<%= link_to sanitize("&larr; Back to #{@owner.model_name.human}"), edit_polymorphic_path(@owner) %>

<div class="header">
  <h2>Edit Notifier</h2>
</div>

<%= turbo_frame_tag @notifier do %>
  <%= render "form", owner: @owner, notifier: @notifier %>
<% end %>  
