<div class="header">
  <h2>Gmail Messages</h2>
</div>

<table class="styled-table gmail-messages">
  <thead>
    <tr>
      <th>From</th>
      <th>Created At</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>
  </tbody>
</table>

<%= paginate @messages %>
