.authentication {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 5vh;
  gap: 2rem;

  &__column-space-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
  }

  &__brand-name {
    display: flex;
    flex-direction: column;
    width: 36rem;
    font-family: 'Bubble Letters', sans-serif;
    font-size: 3.4em;
    line-height: 0.8em;
    font-weight: bold;
  }

  &__brand-slogan {
    font-style: italic;
    font-size: 0.9em;
  }

  @include media(tabletAndMore) {
    margin-top: 12vh;
    flex-direction: row;
    &__column-space-left {
      flex-basis: 50%;
    }
    &__column-space-right {
      flex-basis: 50%;
      text-align: left;
    }
    &__brand-name {
      text-align: center;
      font-size: 5.5em;
    }
    &__brand-slogan {
      font-size: 1.6em;
    }
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-l);
    width: 100%;
    padding: var(--space-xl);
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-white-transparent);
    border-radius: 1.2rem;
    box-shadow: var(--shadow-small);

    @include media(tabletAndMore) {
      max-width: 25rem;
    }
  }

  .form {
    width: 100%;
    padding: var(--space-l) var(--space-m);
    box-shadow: none;
    background-color: var(--color-white-transparent);
    &__description {
      color: var(--color-text-muted);
      text-align: center;
    }
    &__submit {
      width: 100%;
      margin-top: var(--space-l);
    }
    .error_notification {
      color: var(--color-primary);
      text-align: center;
    }
  }

  &__actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: var(--space-s);
    border-top: var(--border-light);
  }
}