<div class="job-lead__actions">
  <%= confirmation_link_to "Delete",
                           job_source_job_lead_path(job_source, job_lead),
                           class: "btn btn--light",
                           data: { turbo_method: :delete } %>
  <%= link_to "Edit",
              [:edit, job_source, job_lead],
              class: "btn btn--light" %>
              
</div>
