<%= turbo_frame_tag job_lead do %>
  <div class="job-lead-list-item">
    <div class="ribbon">
      <span class="ribbon__title" data-status="<%= job_lead.status %>">
        <%= job_lead.status %>
    </div>
    <%= render partial: 'job_leads/job_lead_body', locals: { job_lead: job_lead } %>
  </div>
<% end %>  
