.assistant-settings {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  padding: var(--space-xl) var(--space-l);
  &__configurations {
    display: flex;
    justify-content: center;
    &-item {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      &-actions {
        margin-left: 0.5rem;
        .btn {
          padding: 0 var(--space-xs);
        }
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-around;
  }
}
