.assistant-configuration {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  padding: var(--space-xl) var(--space-l);
}
