.job-lead {
  position: relative;
  margin-top: var(--space-l);
  margin-bottom: var(--space-xxs);
  box-shadow: var(--shadow-small);
  background-color: var(--color-white);
  transition: all .5s ease;

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding: var(--space-l);
  }

  &__name {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title {
    font-size: var(--font-size-xl);
    @include media(tabletAndUp) {
      font-size: var(--font-size-xxl);
    }
  }

  &__hourly-rate {
    margin-left: var(--font-size-m);
    font-size: var(--font-size-xl);
    font-weight: bold;
  }

  &__description {
    font-style: italic;
  }

  &__info {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__published-at {
    font-size: var(--font-size-s);
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--space-s) var(--space-l);
  }
}

.job_lead {
  display: flex;
  justify-content: space-between;
  gap: var(--space-s);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndMore) {
    padding: var(--space-xs) var(--space-m);
  }
}