.job_source {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndMore) {
    padding: var(--space-xs) var(--space-m);
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: var(--space-xs);
  }

  &__form-notifiers {
    display: flex;
    width: 100%;
    gap: var(--space-s);
    flex-direction: column;
    border-top: var(--border-light);
    padding: var(--space-s) 20% 0 20%;
    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      b {
        font-size: var(--font-size-xl);
      }
      a {
        font-size: var(--font-size-l);
        padding: 0 var(--space-xs);
      }
    }
    .notifier {
      border: var(--border-light);
    }
  }
}

