.job-lead-list-item {
  position: relative;
  margin-bottom: var(--space-l);
  box-shadow: var(--shadow-small);
  background-color: var(--color-white);
  transition: all .5s ease;

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding: var(--space-l);
  }

  &__name {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title {
    font-size: var(--font-size-xl);
    @include media(tabletAndUp) {
      font-size: var(--font-size-xxl);
    }
  }

  &__hourly-rate {
    margin-left: var(--font-size-m);
    font-size: var(--font-size-xl);
    font-weight: bold;
  }

  &__description {
    font-style: italic;
  }

  &__info {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__published-at {
    font-size: var(--font-size-s);
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--space-s) var(--space-l);
  }
}

.job-lead-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  padding: var(--space-xs);

  @include media(tabletAndMore) {
    padding: var(--space-m);
  }

  &__body {
    border-bottom: var(--border);
    display: flex;
    gap: var(--space-s);

    &-title-and-description {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: var(--space-l);
      border-right: var(--border);
      padding-right: var(--space-s);
      padding-bottom: var(--space-s);
    }
  
    &-title {
      display: flex;
      gap: var(--space-s);
      justify-content: center;
      font-size: var(--font-size-l);
      font-weight: bold;
    }
  
    &-description {
      font-size: var(--font-size-s);
    }

    &-attributes {
      display: flex;
      flex-direction: column;
      gap: var(--space-l);
      min-width: 7rem;
      padding-bottom: var(--space-s);
    }

    &-attribute-value {
      font-size: var(--font-size-l);
      font-weight: bold;
      line-height: var(--font-size-xl);
    }

    &-attribute-label {
      font-size: var(--font-size-s);
      line-height: var(--font-size-s);
      color: var(--color-text-muted);
    }
  }

  &__actions {
    display: flex;
    gap: var(--space-l);
    align-items: center;
    padding: var(--space-s) var(--space-l);
  }

  &__notes {
    form {
      display: flex;
      align-items: flex-end;
    }
  }
}