.navbar {
  --navbar-height: 3.5rem;

  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;  
  height: var(--navbar-height);
  z-index: 11;
  top: 0;
  box-shadow: var(--shadow-large);
  padding: var(--space-xs) var(--space-l);
  margin-bottom: var(--space-l);
  background-color: var(--color-light-glint);

  &__brand {
    white-space: nowrap;
    font-family: 'Bubble Letters', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--color-white);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      filter: saturate(1.4) brightness(115%);
    }

    @include media(tabletAndLower) {
      font-size: 1.5rem;
      line-height: 2.5rem;      
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      margin-left: 1rem;
      .btn {
        width: 9rem;
        @include media(tabletAndMore) {
          text-align: center;
        }
      }
    }

    @include media(tabletAndLower) {
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      width: 100%;
      height: calc(100vh - var(--navbar-height));
      top: var(--navbar-height);
      left: 0;
      align-items: center;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
      
      &-opened {
        max-height: 100vh;
        overflow: visible;
      }
      
      &-item {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }

  &__toggler {
    border: 2px solid var(--color-white);
    padding: 6px;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    display: none;

    span,
    span:before,
    span:after {
      width: 25px;
      height: 3px;
      background-color: var(--color-white);
      display: block;
      transition: .3s;
    }
    span {
      &:before {
        content: '';
        transform: translateY(-9px);
      }
      &:after {
        content: '';
        transform: translateY(6px);
      }
    }

    &-opened {
      span {
        background-color: transparent;
        &:before {
          transform: translateY(0px) rotate(45deg);
        }
        &:after {
          transform: translateY(-3px) rotate(-45deg);
        }
      }
    }

    @include media(tabletAndLower) {
      display: block;
    }
  }
}
