.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  align-items: center;
  box-shadow: var(--shadow-large);
  padding: var(--space-xs) var(--space-l);
  margin-bottom: var(--space-xxl);
  background-color: (var(--color-white));

  &__brand {
    font-weight: bold;
    font-size: var(--font-size-xl);
    color: var(--color-text-header);
  }

  &__links {
    display: flex;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    gap: var(--space-xs);
  }

  &__user-settings {
    font-weight: bold;
    color: var(--color-text-header);
  }
}