<p style="text-align: center; font-weight: bold; padding-bottom: 0.2rem; font-size: 1.5rem; border-bottom: 1rem solid <%= @potential_color || 'initial' %>;">
  Hey, there are a new job lead! Check and send the apply ASAP
</p>
<p>
  <%= @message_text %>
</p>
