<header class="navbar" data-controller="navbar">
  <%= link_to authenticated_root_path, class: "navbar__brand" do %>
    My Workflow Assistant
  <% end %>

  <ul class="navbar__menu" data-navbar-target="menu" data-action="click->navbar#menuClick">
    <li class="navbar__menu-item">
      <%= link_to job_leads_path, class: "btn btn--light" do %>
        <i class="fas fa-solid fa-briefcase fa-lg"></i>
        Job Leads
      <% end %>
    </li>
    <li class="navbar__menu-item">
      <%= link_to settings_assistant_configuration_path, class: "btn btn--light" do %>
        <i class="fas fa-solid fa-gear fa-lg"></i>
        Settings
      <% end %>
    </li>
  </ul>

  <button class="navbar__toggler" data-navbar-target="togglerButton" data-action="click->navbar#togglerClick">
    <span></span>
  </button>
</header>